#secret-entry-word {
    display:none;
}

#player_one_score, #player_two_score {
    display: inline-block;
}

html, body {
    height:100%;
  }
  
body {
    /* background-image: url("../media/carmen.jpg");
    background-repeat: repeat; */
    background-color: #009fe9 !important;
    color: white !important;
    font-family: 'Open Sans', sans-serif !important;
    display:flex;
    align-items:center;
} 

h1 {
    font-size: 600% !important;
}

.left-margin {
    margin-left: 8px !important;
 }